body {
  margin: 0;
  background-color: #f5f5f5;
}

.header {
  background-color: #011e29;
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
  margin:5px;
}

.header h2 {
  margin: 0;
  font-size: 40px;
}

.news-container {
  margin-top:5px;
  margin-left:20px;
  margin-right:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
}

.latest-news-section,
.main-article-section,
.pictorial-news-section {
  background-color: #ffffff;
  padding: 25px 25px;
  border-radius: 20px;
  box-sizing: border-box;
}

.latest-news-section,
.pictorial-news-section {
  width: 260px;
}

.pictorial-news-section{
	text-align: center;
}

.main-article-section {
  width: 520px;
  text-align: center;
}

.latest-news-section h3,
.pictorial-news-section h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.main-article-section h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 26px;
}

.latest-news-section ul {
  margin: 10px 0 0;
  padding-left: 22px;
}

.main-article-section p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
}

.pictorial-news-section img {
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-top: 10px;
}
