/*  your css code here. If applicable */
body{
	margin: 0;
    padding: 0;
	background-color:#f5f5f5;	
}

.header{
	display:flex;
	padding:20px;
	justify-content:center;
	background-color:#011e29;
	color:white;
	font-size:2rem;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
}

main{
	display:flex;
	flex-direction:row;
	align-items: flex-start;
	justify-content: center;
	background-color:#f5f5f5;
	margin-left:12px;
	margin-right:12px;
	gap:10px;
}

.latest-news-section{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	background-color:white;
	padding:10px;
	width:30%;
	height:10%;
	border-radius:20px;
	margin-top:5px;
}

.main-article{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	background-color:white;
	width:30%;
	height:20%;
	padding:10px;
	margin-top:5px;
	border-radius:20px;
}

.pictorial-news-section{
	display:flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	background-color:white;
	background-color:white;
	width:30%;
	height:30%;
	border-radius:10px;
	padding:10px;
	margin-top:5px;
	border-radius:20px;
}


.pictorial-news-section img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    margin-bottom: 16px;